---
---

@import "{{ site.theme }}";

img {
    width:30%;
    padding:1.5rem;
}
.main-content {
    max-width: 64rem;
    padding: 2rem 0rem;
    margin: 0 auto;
    font-size: 1.1rem;
}


/* Portrait */
@media screen 
  and (max-width: 600px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {

      img {
        width:90%;
        padding:0.5rem;
        }
      
}
