---
---

@import "{{ site.theme }}";

img {
    width:30%;
    padding:1.5rem;
}
.main-content {
    max-width: 64rem;
    padding: 2rem 0rem;
    margin: 0 auto;
    font-size: 1.1rem;
}

p{
    text-align:center;
}

.desktopIMG{
  width:100%;
}

/* Portrait */
@media screen
  and (max-device-width: 500px)
  and (orientation: portrait) {

      img {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        }

}
